{
    "left_key": "F2",

    "right_key": "Drug_identifier",

    "right_columns_to_keep": [
        "Drug_Name",
        "Drug_Putative_Target",
        "Drug_Targeted_process_or_pathway"
    ],

    "enrichment": {
        "feature1": "F1",
        "feature2": "Drug_Targeted_process_or_pathway"
    }
}
